* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #98a7c7;
}

body {
    background-color: #ffffff;
    background-image: url("bg.png");
    color: #98a7c7;
    font-family: 'Roboto', sans-serif;
}

p {
    margin-bottom: 0.5rem;
}

#container {
    width: 900px;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background: #e7f3ff;
    padding: 20px 40px;
}

#header {
    background-color: #ffffff;
    border-bottom: 5px solid lavender;
    border-radius: 20px;
    padding: 15px;
}

#main {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

#left, #right {
    flex: 50%;
}

.panel {
    background-color: #ffffff;
    border-radius: 20px;
    border-bottom: 5px solid lavender;
    margin: 15px;
}

.panel-header {
    color: #0a84ff;
    font-weight: bolder;
    font-size: 14pt;
    border-bottom: 2px solid #eaeaea;
    padding: 15px;
}

i {
    margin-right: 15px;
}

.panel-body {
    padding: 15px;

}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.color-blue {
    color: #0a84ff;
}

.color-gray {
    color: #99a8c8;
}

.color-black {
    color: #000000;
}

.bold {
    font-weight: bolder;
}